---
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const entry = await getEntryBySlug("about", "index");
const { Content } = await entry.render();
const { title, description, meta_title, image, what_i_do } = entry.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section">
    <div class="container">
      <div class="row md:gx-4">
        <div class="sm:col-5 md:col-4">
          {
            image && (
              <div class="img-cover mb-8">
                <Image
                  src={image}
                  width={295}
                  height={395}
                  alt={title}
                  class="rounded-lg w-full"
                />
              </div>
            )
          }
        </div>
        <div class="sm:col-7 md:col-8">
          <h1 set:html=title class="h3 mb-8" />

          <div class="content">
            Fiddlebops是一个由粉丝制作的项目，灵感来源于流行的游戏Incredibox。由热情的玩家创建，它为Incredibox宇宙带来了新的视角，拥有原创的角色、富有想象力的故事以及互动式的音乐创作体验。虽然不属于官方的Incredibox故事，但Fiddlebops增添了一种富有创意的转折，吸引了长期粉丝和新粉丝。
          </div>
          <a href="/contact" class="btn btn-primary text-white py-2"
            >Get In Touch</a
          >
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <h3 class="page-heading mb-20">FiddleBops Gameplay</h3>
      <div class="row justify-center gy-4 text-center">


            <div class="lg:col-4 md:col-6">
              <i class="{{.icon}} fa-3x text-primary mb-4" />
              <h4 class="text-dark font-weight-700 mb-3">title</h4>
              <p>Fiddlebops是一个由粉丝制作的项目，灵感来源于流行的游戏Incredibox。由热情的玩家创建，它为Incredibox宇宙带来了新的视角，拥有原创的角色、富有想象力的故事以及互动式的音乐创作体验。虽然不属于官方的Incredibox故事，但Fiddlebops增添了一种富有创意的转折，吸引了长期粉丝和新粉丝。</p>
            </div>
            <div class="lg:col-4 md:col-6">
              <i class="{{.icon}} fa-3x text-primary mb-4" />
              <h4 class="text-dark font-weight-700 mb-3">title</h4>
              <p>Fiddlebops是一个由粉丝制作的项目，灵感来源于流行的游戏Incredibox。由热情的玩家创建，它为Incredibox宇宙带来了新的视角，拥有原创的角色、富有想象力的故事以及互动式的音乐创作体验。虽然不属于官方的Incredibox故事，但Fiddlebops增添了一种富有创意的转折，吸引了长期粉丝和新粉丝。</p>
            </div>
            <div class="lg:col-4 md:col-6">
              <i class="{{.icon}} fa-3x text-primary mb-4" />
              <h4 class="text-dark font-weight-700 mb-3">title</h4>
              <p>Fiddlebops是一个由粉丝制作的项目，灵感来源于流行的游戏Incredibox。由热情的玩家创建，它为Incredibox宇宙带来了新的视角，拥有原创的角色、富有想象力的故事以及互动式的音乐创作体验。虽然不属于官方的Incredibox故事，但Fiddlebops增添了一种富有创意的转折，吸引了长期粉丝和新粉丝。</p>
            </div>
      </div>
    </div>
  </section>
</Base>
